# 2023-02-16

name: bandit-03-alg
on:
  push:
    branches:
      # - main
      - bandit-03-alg
      # - bandit-03-aws
      # - bandit-04-alg
      # - bandit-04-aws
      - nonexistent  # avoid triggering on main
jobs:
  scan:
    name: scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install and Run Python Bandit SAST
        run: |
          set -ux
          python -m venv zvenv
          source zvenv/bin/activate
          pip install pip -U
          pip install bandit
          pip install bandit-sarif-formatter
          ls -al
          SUBDIR=python-algorithms
          # SUBDIR=aws-dynamodb-encryption-python
          # see .bandit for excluded/skipped vulnerabilities
          bandit -c bandit.yaml -r ${SUBDIR} --format sarif --output bandit-results.sarif
          # bandit -c pyproject.toml -r ${SUBDIR}
          # bandit -c bandit.yaml -r ${SUBDIR} > results.txt
          # cat results.txt
        if: ${{ '0' == '0' }}

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: bandit-results.sarif
        # if: ${{ '1' == '0' }}
        if: always()  # when the previous step fails for so many vulnerabilities

      - name: Upload results
        uses: actions/upload-artifact@v3
        with:
          name: results.txt
          path: results.txt
        if: ${{ '1' == '0' }}
        # if: always()
